body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.dice img{
    border: 2px solid black;
    border-radius: 20px;
    width: 200px;
    height: 200px;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

button{
    padding: 5px;
}

button:hover{
    background-color: rgba(128, 128, 128, 0.813);
}